@model TicketDesk.Web.Client.Models.TicketCenterListViewModel
@{
    var tickets = Model.Tickets;
    var ajaxSortOptions = new AjaxOptions { UpdateTargetId = "ticketList", OnBegin = "beginChangeSort", OnSuccess = "completeChangeList", OnFailure = "completeChangeList" };    
}
<table class="table">
    <tr><th>
           @* Ajax.SortableColumnHeader(Html, Model.CurrentListSettings, "SortList", Model.CurrentListSettings.ListName, "TicketId", "ID", ajaxOptions)*@
        </th></tr>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => tickets.TicketId)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => tickets.TicketType)*@
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.Title)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Owner)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AssignedTo)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TicketStatus)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Category)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Priority)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CreatedDate)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LastUpdateDate)*@
        </th>

    </tr>

    @foreach (var item in tickets)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @item.CreatedDate.ToString("MM/dd/yyyy")<br />
                @item.CreatedDate.ToString("hh:mm tt")


            </td>
            <td>
                @item.LastUpdateDate.ToString("MM/dd/yyyy")<br />
                @item.LastUpdateDate.ToString("hh:mm tt")
            </td>

        </tr>
    }
</table>