@model  TicketCenterListViewModel

@using PagedList.Mvc;
@using PagedList;
@using TicketDesk.Web.Client.Models

@section title{ Ticket Center}

<h2>Ticket Center</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_ListMenu", Model.UserListSettings, new ViewDataDictionary
{
    { "CurrentListSettings", Model.CurrentListSetting }
})

@{
    var ajaxSortOptions = new AjaxOptions { UpdateTargetId = "ticketList", OnBegin = "beginChangeSort", OnSuccess = "completeChangeList", OnFailure = "completeChangeList" };
   
}
<div id="ticketList">
    <div class="ticketFilterBar">
        @Html.Partial("_FilterBar")
    </div>
    <div>
        @Html.Partial("_TicketList", Model)
    </div>
</div>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateDate)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @item.CreatedDate.ToString("MM/dd/yyyy")<br />
                    @item.CreatedDate.ToString("hh:mm tt")


                </td>
                <td>
                    @item.LastUpdateDate.ToString("MM/dd/yyyy")<br />
                    @item.LastUpdateDate.ToString("hh:mm tt")
                </td>

            </tr>
        }
    </table>*@

@Html.PagedListPager((IPagedList)Model.Tickets, page => Url.Action("Index", new { page }))
