@using TicketDesk.Localization.Views.User
@model TicketDesk.Web.Client.Models.UserRegisterViewModel
@section title
{
    @Register.Title
}
@section Scripts {
}
<main>
    <div class="container">
        <fieldset>
            <legend class="col-lg-8 col-lg-offset-2 col-md-9 col-md-offset-1 col-sm-12">@Register.Legend</legend>
            <div class="col-lg-7 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
                @using (Html.BeginForm("Register", "User", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">@Register.Header</h2>
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary("", new {@class = "text-danger"})
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new {@class = "col-sm-3 control-label"})
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new {@class = "col-sm-3 control-label"})
                                <div class="col-sm-9">
                                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-sm-3 control-label"})
                                <div class="col-sm-9">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.DisplayName, new {@class = "col-sm-3 control-label"})
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.DisplayName, new {@class = "form-control"})
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success" tabindex="10">@Register.SaveOption</button>&nbsp;&nbsp;
                            @Html.ActionLink(Register.BackOption, "SignIn")
                        </div>
                    </div>
                }
            </div>
        </fieldset>
    </div>
</main>
