    <li>
        @Html.ActionLink("Manage Users", "Index", "UserAdministration")
    </li>
    <li>
        @Html.ActionLink("Manage Projects", "Index", "ProjectSettings")
    </li>
    <li>
        @Html.ActionLink("Application Settings", "Index", "ApplicationSettings")
    </li>
    <li>
        @Html.ActionLink("Push Notification Settings", "Index", "PushNotificationSettings")
    </li>
    <li>
        @Html.ActionLink("Demo Data Management", "Demo", "DataManagement")
    </li>
    <li>
        @Html.ActionLink("Search Management", "Index", "SearchManager")
    </li>

