@using TicketDesk.Domain.Model
@model TicketDesk.Web.Client.Controllers.TicketEmail
Content-Type: text/html; charset=utf-8


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket #@Model.Ticket.TicketId </title>
</head>
<body>
    <div>
        <p>#@Model.Ticket.TicketId - @Model.Ticket.Category @Model.Ticket.TicketType : @Model.Ticket.Title</p>
        <p>Assigned To: @Model.Ticket.GetAssignedToInfo().DisplayName</p>
        <p>Owner: @Model.Ticket.GetOwnerInfo().DisplayName</p>
        <hr />
        <div>@Model.Ticket.HtmlDetails()</div>
    </div>
</body>
</html>
