@using TicketDesk.Localization.Views.UserAdministration
@model TicketDesk.Web.Client.Models.UserAccountInfoViewModel

@section title
{
    @Edit.Title
}
@section scripts
{
    @Styles.Render("~/content/select2")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/select2_locale_" + CultureHelper.GetCurrentCulture())
    @Scripts.Render("~/bundles/admin-edit-user")
    <script type="text/javascript">
        $(document).ready(function () {
            window.adminEditUser.activate({ pendingOptionId: '@ViewBag.TdPendingUsersRoleId' });
        });
    </script>
}
<main>
    <div class="container">
        <fieldset>
            <legend class="col-lg-8 col-lg-offset-2 col-md-9 col-md-offset-1 col-sm-12">@Edit.Legend</legend>
            <div class="col-lg-7 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
                @using (Html.BeginForm("Edit", "UserAdministration", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.User.Id);
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">@Edit.Header</h2>
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.User.UserName, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.User.Email, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.User.DisplayName, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.User.DisplayName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsLocked, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <label class="checkbox-inline">
                                        @Html.EditorFor(model => model.IsLocked)
                                        @Html.PromptFor(model => model.IsLocked)
                                        @if (Model.IsLocked)
                                        {
                                            <span class="text-muted small">
                                                (unlock at: @Model.User.LockoutEndDateUtc.Value.ToLocalTime().ToString())
                                            </span>
                                        }
                                    </label>
                                    @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                    @Html.DescriptionFor(model => model.IsLocked, "help-block", "span")
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsDisabled, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <label class="checkbox-inline">
                                        @Html.EditorFor(model => model.IsDisabled)
                                        @Html.PromptFor(model => model.IsDisabled)
                                    </label>
                                    @Html.ValidationMessageFor(model => model.IsDisabled, "", new { @class = "text-danger" })
                                    @Html.DescriptionFor(model => model.IsDisabled, "help-block", "span")
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Roles, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm">
                                        @Html.ListBoxFor(model => model.Roles, Model.UserRolesList, new { id = "userroles", @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
                                        @Html.DescriptionFor(model => model.Roles, "help-block", "span")
                                        <span class="input-group-btn"
                                              data-toggle="tooltip"
                                              data-placement="top"
                                              title="@Edit.ShowRoleDescriptions">
                                            <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" href="#collapseRoleDescription" aria-expanded="false" aria-controls="collapseRoleDescription">
                                                <i class="fa fa-info"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="collapse" id="collapseRoleDescription">
                                        <div class="well" style="margin-top: 5px;">
                                            <dl class="list list-inline">
                                                <dt>
                                                    @Edit.PendingApproval
                                                </dt>
                                                <dd class="text-muted">
                                                    @Edit.PendingApproval_Description
                                                </dd>
                                                <dt>
                                                    @Edit.InternalUsers
                                                </dt>
                                                <dd class="text-muted">
                                                    @Edit.InternalUsers_Description
                                                </dd>
                                                <dt>
                                                    @Edit.HelpDeskStaff
                                                </dt>
                                                <dd class="text-muted">
                                                    @Edit.HelpDeskStaff_Description
                                                </dd>
                                                <dt>
                                                    @Edit.Administrators
                                                </dt>
                                                <dd class="text-muted">
                                                    @Edit.Administrators_Description
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="pull-right">
                                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete-confirm">
                                    <i class="fa fa-remove"></i>&nbsp;&nbsp;@Edit.DeleteOption
                                </a>
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-success" tabindex="10"><i class="fa fa-save"></i>&nbsp;&nbsp;@Edit.SaveOption</button>&nbsp;&nbsp;
                                @Html.ActionLink(Edit.BackOption, "Index")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </fieldset>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="delete-confirm-label" aria-hidden="true">
        <div class="modal-dialog">
            @using (Html.BeginForm("Delete", "UserAdministration", new { Model.User.Id }, FormMethod.Post, new { @class = "form", role = "form" }))
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="@Edit.CloseOption"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delete-confirm-label">@Edit.DeleteConfirmation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="alert alert-danger">
                                @Edit.DeleteAlert
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Edit.CancelOption</button>
                        <button type="submit" class="btn btn-primary">@Edit.DeleteOption</button>
                    </div>
                </div>
            }
        </div>
    </div>
</main>