@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <title>loginform</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/scripts/modernizr")
   
</head>
<body>
    <section>
        @using (Html.BeginForm("", "api/useraccount/logindummy", FormMethod.Post, new { id = "loginForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="panel panel-default">
                <div class="btn-toolbar panel-heading">
                    <div class="btn-group btn-group-sm">
                        <button type="submit" id="loginbutton" class="btn btn-primary btn-sm">Login</button>
                    </div>
                </div>
                <div class="panel-body">


                    <div class="form-horizontal">


                        <div class="form-group">
                            <label class="col-md-2 col-sm-2 control-label" for="username">Username: </label>
                            <div class="col-md-3 col-sm-3">
                                <input class="form-control input-sm" id="username" name="username" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-sm-2  control-label" for="password">Password: </label>
                            <div class="col-md-3 col-sm-3">
                                <input class="form-control input-sm" id="password" name="password" type="password" />
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        }
    </section>
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/bootstrap")
    <script type="application/javascript">


        $("#loginForm").submit(function () {
            top.doSubmit(this);
            return false;
        });
        //setTimeout to give browsers time to form up the DOMs; I'm talking to you IE!
        $.ready(window.setTimeout(top.setLoginIframeHeight,150));
        

    </script>
</body>
</html>
