@using TicketDesk.Domain.Model
@model Ticket

@section title
{
    Ticekt #@Model.TicketId
}

@section scripts
{
    @Styles.Render("~/content/editor")
    @Scripts.Render("~/bundles/markdown")
    @Scripts.Render("~/bundles/editticket")

    <script type="text/javascript">

        $(document).ready(function () {
            var tdConfig = {
                loadActivityUrl: '@Url.Action("LoadActivity","TicketActivity", new {ticketId = Model.TicketId, area = ""})',
                activityButtonsUrl: '@Url.Action("ActivityButtons","TicketActivity", new {ticketId = Model.TicketId, area = ""})',
                eventPanelUrl: '@Url.Action("TicketEvents","Ticket", new {ticketId = Model.TicketId, area = ""})',
                loadDetailsUrl: '@Url.Action("TicketDetails","Ticket", new {ticketId = Model.TicketId, area = ""})'
            };
            window.editTicket.activate(tdConfig);
        });
    </script>
}

<main role="main">
    <div id="ticketDetailPanel" class="panel panel-primary">
        @Html.Action("TicketDetails", new { ticketId = Model.TicketId, area = "" })
    </div>
    <div class="panel panel-success">
        @Html.Action("ActivityPanel", "TicketActivity", new { ticketId = Model.TicketId, area = "" })
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            Activity
        </div>
        <div id="eventPanel" class="panel-body">
            @Html.Action("TicketEvents", new { ticketId = Model.TicketId, area = "" })
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", "TicketCenter", new { area = "" }, null)
    </p>
</main>