@using TicketDesk.Localization.Views.ProjectSettings
@model IEnumerable<TicketDesk.Web.Client.Models.ProjectListViewModelItem>

@section title
{
    @Index.Title
}
@section scripts
{
    @Scripts.Render("~/bundles/project-settings")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".clickable").clickable();
        });
    </script>
}

<main>
    <div class="container-fluid">
        <fieldset>
            <legend class="col-sm-12">
                @Index.Legend
                <span data-toggle="tooltip"
                      data-placement="top"
                      title="@Index.Legend_ShowMore">
                    <span class="btn btn-link btn-lg" type="button"
                          data-toggle="collapse"
                          href="#collapseProjectDescription"
                          aria-expanded="false"
                          aria-controls="collapseRoleDescription">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </span>
            </legend>
            <div class="col-sm-12">
                <div class="collapse" id="collapseProjectDescription">
                    <div class="well text-muted">
                        @Html.Raw(Index.Legend_MoreInfo)
                    </div>
                </div>
                <div class="panel panel-info">

                    <div class="panel-body" style="padding: 0;">

                        <div class="table-responsive">
                            <table class="table table-striped table-condensed table-hover ">
                                <tr>
                                    <th>
                                        @Index.Project
                                    </th>
                                    <th>
                                        @Index.Description
                                    </th>
                                    <th>
                                        @Index.Tickets
                                    </th>

                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr class="clickable">
                                        <td>
                                            <a href="@Url.Action("Edit", "ProjectSettings", new {projectId = item.Project.ProjectId})">
                                                @item.Project.ProjectName
                                            </a>
                                        </td>
                                        <td>@item.Project.ProjectDescription</td>
                                        <td>@item.NumberOfTickets</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="">

                            <a href="@Url.Action("New", "ProjectSettings")" class="btn btn-primary">
                                <i class="fa fa-plus"></i>&nbsp;&nbsp;@Index.SaveOption
                            </a>


                        </div>
                    </div>

                </div>


            </div>
        </fieldset>
    </div>
</main>
