@using System.Web.Optimization
@using TicketDesk.Web.Models.Localization
<!DOCTYPE html>
<html>
<head>
    <title>TicketDesk 3</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <meta name="fragment" content="!">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom")

    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
        window.applicationPath = "@Request.ApplicationPath";
        window.ticketDeskUserLanguage = function () {
            return '@System.Threading.Thread.CurrentThread.CurrentUICulture.Name';
        };
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@System.Configuration.ConfigurationManager.AppSettings["AnalyticsCode"]', '@System.Configuration.ConfigurationManager.AppSettings["AnalyticsDomain"]');

    </script>
</head>
<body>
    <div class="st-sticky-wrap" id="applicationHost">
        <div class="durandal-wrapper" data-view="views/shell" style="" data-active-view="true">
            
            <div class="page-splash"></div>
            <div class="page-splash-message">
                @AppUIText.AppName
            </div>
            <div class="progress progress-striped active" style="width: 80%; margin-left: auto; margin-right: auto;">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">

                </div>
            </div>
            <
        
            <div class="st-sticky-push"></div>
        </div>
    </div>
    <footer class="st-sticky-footer">
        <div class="row">
            <div class="col-sm-6">
                <div class="footer-content">
                    <p>By <a href="http://reddnet.net" target="_blank">Stephen M. Redd</a></p>
                    <p>TicketDesk is licensed under the <a href="https://raw.github.com/StephenRedd/TicketDesk/master/license" target="_blank">Ms-PL license</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="footer-content">
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://github.com/StephenRedd/TicketDesk" target="_blank"><i class="fa fa-github"></i>&nbsp;View project on Github</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/scripts/vendor")

   
        <script type="text/javascript" src="/Scripts/require.js" data-main="/App/main"></script>
   

</body>
</html>
