@*
    TicketDesk - Attribution notice
    Contributor(s):

         Stephen Redd (https://github.com/stephenredd)

    This file is distributed under the terms of the Microsoft Public
    License (Ms-PL). See http://opensource.org/licenses/MS-PL
    for the complete terms of use.

    For any distribution that contains code from this file, this notice of
    attribution must remain intact, and a copy of the license must be
    provided to the recipient.
*@
@model TicketDesk.Web.Client.Models.SystemInfoViewModel
<div class="panel panel-default">
    <div class="panel-heading">Database Configuration</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">Server Type</div>
            <div class="col-sm-8">
                @if (Model.DatabaseInfo.IsLocalDb)
                {
                    @:LocalDb -
                }
                @Model.DatabaseInfo.DbEdition
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Server Name</div>
            <div class="col-sm-8">@Model.DatabaseInfo.ServerName</div>
        </div>
        @if (!string.IsNullOrEmpty(Model.DatabaseInfo.SqlInstance))
        {
            <div class="row">
                <div class="col-sm-3">Instance Name</div>
                <div class="col-sm-8">@Model.DatabaseInfo.SqlInstance</div>
            </div>
        }
        <div class="row">
            <div class="col-sm-3">
                Database @(Model.DatabaseInfo.IsFileDatabase ? "Location" : "Name")
            </div>
            <div class="col-sm-8">@Model.DatabaseInfo.DatabaseName</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Database Type</div>
            <div class="col-sm-8 ">
                @(Model.DatabaseInfo.IsFileDatabase ? "File Database" : "SQL Catalog")

            </div>
        </div>
       
    </div>
    @if (Model.DatabaseStatus.IsDatabaseReady)
    {
        <div class="panel-footer text-center text-success">
           
                Your database is configured and ready to use!
        </div>
    }
</div>